


/*
body {
  background-color: yellow;
  margin-top: 10px;
  font-weight: 1000;
  background-image: url("igor-karimov-2.jpeg");
  background-size:cover;
  background-position: 90%;
}


.container { /* main container 
  display: flex;
  width: 20%;
  margin:auto;
  position: relative;
  top:auto 10%;
  left:auto 25%;
  padding: 10%;
  padding-top: 5%;
  background-color:white;
  opacity: 96%;
  color: black;
}

nav { /*nav container
  padding: 10px;
  background-color: #277BC0;
}

nav a { /* nav bar links
  color: #FFF4CF;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 28px;
  margin: 10px;
  padding: auto;
  position: sticky;
}


img {
  justify-content: center;
  width:5%;
  height: 5%;
  opacity: .5;
  position: relative;
  float: center;
}

p {
  font-size: large;
}

.attribute {
  font-size: small;
}

.footer {
  color: white;
  background-color: darkgray;
  text-align: center;
}
/*
.searchBar {
  background-color: #FFF4CF;
  padding: auto;
  display: flex;
  margin: auto;
  margin-left: 25%;
  
}

.userInput {
  width:500px;
}

/*
blue #277BC0
gold #FFB200
yellow #FFCB42 
light-yellow #FFF4CF 
*/